/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.preview {
    display: relative;
    position: fixed;
}

.frame {
    width: 270px;
    display: absolute;
    top: 0;
    left: 0;
}

.iframe {
    border: 0px transparent;
    position: absolute;
    top: 55px;
    left: 12px;
    width: 91%;
    height: 440px;

}

.code {
    color: red!important;
    font-family: "Menlo", "American Typewriter", serif!important;
}